*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    background: url(bg12.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;

} 
.wrapper{
    margin-top: 100px;
    width: 500px;
    height: 500px;
    background: #dedede;
    box-sizing: border-box;
    border-radius: 5px;


}
.header{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 30px;
    left: 140px;
    color: #2d3436;

}
.google{
    position: relative;
    top: 50px;
    left: 40px;
    height: 50px;
    width: 200px;
    background: #dd4b39;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: .5s;
    
}
.google i{
    line-height: 50px;
    padding: 0 20px;
    font-size: 30px;
    color: white;
}
.google p{
    font-size: 23px;
    font-weight: 600;
    line-height: 50px;
    color: white;

}
.google:hover{
    background: #c43421;
    box-shadow: 0px 0px 10px -2px rgb(122,122,122,1);

}
.facebook{
    top: 0;
    left: 260px;
    background: #3b5998;

}
.facebook i,.facebook p{
    color: white;

}
.facebook:hover{
    background: #324b81;

}
.login-form{
    padding: 20px 40px;
}
.login-form .label{
    font-size:18px ;
    margin: 5px 0;
    color: #2d3436;

}
.login-form input{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    font-size: 18px;
    border: 1px solid silver;

}
.login-form input:focus{
    transition: .3s;
    border: 1px solid #999999;
}
.login-form button{
    margin-top: 45px;
    height: 50px;
    width: 420px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 5px;
    border: 1px solid #ffa280;
    background: #ff571a;
    transition: .5s;
    
}
.login-form button:hover{
    background: #e63d00;
}
